<mat-card class="edit-course-card">
    <mat-card-header>
      <mat-card-title>Edit Course</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Course title</mat-label>
            <input matInput type="text" id="title" formControlName="title" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput type="text" id="description" formControlName="description" />
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!editCourseForm.valid">Edit</button>
          <button mat-button (click)="cancel()">cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>